# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
build
.gradle
time_deferred_queue.iml
time_deferred_queue.ipr
time_deferred_queue.iws